/* ==========================================================================
   Feria Incubo
   coder: @flaku
   startdate: 2015/06/04
   ========================================================================== */

@import "inc/html5reset.less";
@import "inc/mixins.less";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,600);

// ==========================================================================
// ==========================================================================

@negro: #333;

html, body{
	height: 100%;
}

body {
	font-family: 'Raleway', Helvetica, Verdana, Segoe, sans-serif;
}

.wrap{
	max-width: 960px;
	margin: 0 auto;
}

header{
	width: 100%;
	position: absolute;
	top: 0;

	a{
		background: url('../images/logo-head.png') no-repeat left top;
		width: 131px;
		height: 114px;
		display: block;
		text-indent: -9999px;
	}
}//Header


footer{
	background: #fff;
	width: 100%;
	position: absolute;
	bottom: 0;

	.wrap{
		overflow: hidden;
	}

	ul{
		float: left;
		margin: 10px 0 10px 35px;

		&:nth-of-type(1){
			margin-left: 0;
		}

		li{
			float: left;
			margin: 0 5px;

			&:first-child{
				font-size: 11px;
				margin-top: 24px;
				margin-left: 0;
			}
		}//Li

	}//UL

}//Footer

body{
	background: url('../images/bg_form.jpg') no-repeat left top;
	background-size: cover;
}

section{
	position: absolute;
	bottom: 85px;
	width: 100%;
}

article{
	overflow: hidden;
}

.left{
	float: left;
}

.right{
	float: right;
}



#formulario{

	.titulo{
		color: #fff;
		font-size: 18px;
		line-height: 170%;
		margin-bottom: 20px;
	}

	.right{
		width: 550px;
	}

	form{
		overflow: hidden;
		padding: 8px 0 0 0;

		li{
			position: relative;
			margin-bottom: 20px;
		}

		label{
			color: @negro;
			font-size: 24px;
			width: 140px;
			display: inline-block;

			&.error{
				font-size: 12px;
				color: #fff;
				background: red;
				position: absolute;
				width: auto!important;
				right: 0;
				text-align: center;
				padding: 5px 10px;
				top: -8px;
			}
		}//Label

		input{
			outline: none;
			font-size: 22px;
			padding: 5px;
			border: 0;
			width: 370px;
			display: inline-block;
			font-family: 'Raleway';
		}

		button{
			background: #e1007f;
			color: #fff;
			border: 0;
			font-size: 24px;
			font-family: 'Raleway';
			padding: 5px 0;
			width: 380px;
			float: right;
			margin: 0 26px 0 0;
		}

		.especial{

			label{
				width: 260px;
			}

			input{
				width: 250px;
			}

		}//especial

	}//Form

	#contacto-directo{
		text-align: right;
		margin: 10px 26px 0 0;
	}

	#exito, #error{
		display: none;

		&.active{
			display: block;
		}

	}//exito - error

}//Formulario

.molino{
	width: 350px;
	height: 450px;
	position: relative;

	.box {
		position:absolute;
		width: 320px;
		height: 320px;
		top: 6px;
		z-index: 1;
	}

	.pole{
		position: absolute;
		bottom: 0;
		left: 148px;
	}
}//Molino

